@using Yemekhane_Gecis_Sistemi.Models
@model kart_bilgileri
@{
    ViewBag.Title = "Bakiye Yükleme Sayfası ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script language="Javascript">
       <!--
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode != 44 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
           //-->
    </script>
@using (Html.BeginForm("BakiyeYukle", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3">
            @Html.TextBoxFor(x => x.kullanicilar.tc, new { @class = "form-control", @type = "number", @placeholder = "Tc Kimlik No Giriniz" })
        </div>
        
        <input type="submit" class="btn btn-success" value="bul" />
    </div>
    <br />
    <br />
}
@if (Model != null)
{
    using (Html.BeginForm("BakiyeYukle", "Home", FormMethod.Post))
    {
<div class="row">
    <div class="col-md-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id:</th>
                    <td>@Model.kullanici_id</td>
                </tr>
                <tr>
                    <th>Ad:</th>
                    <td>@Model.kullanicilar.ad</td>
                </tr>
                <tr>
                    <th>Soyad:</th>
                    <td>@Model.kullanicilar.soyad</td>
                </tr>
                <tr>
                    <th>Bakiye:</th>
                    <td>@Model.bakiye TL</td>
                </tr>

            </thead>

        </table>
    </div>
</div>
        @Html.HiddenFor(x => x.kullanicilar.tc, new { @class = "form-control" })
        <br />
        
        @Html.LabelFor(x => x.bakiye)
        <div class="row">
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.bakiye, new { @class = "form-control", @onkeypress = "return isNumberKey(event)" })
            </div>

            <input type="submit" class="btn btn-success" value="bakiye yükle" />
        </div>
        

    }
}