
@using Yemekhane_Gecis_Sistemi.Models
@model List<view_gecis_loglari>
@{
    ViewBag.Title = "Geçiş Logları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("IslemLog", "Home", FormMethod.Post))
{
    <div class="form-group">
       @if (@ViewData["mesaj"] != null)
       {
        <div class="alert alert-success" role="alert">
            @ViewData["mesaj"]
        </div>
       }
        <div class="col-md-2">
            @Html.TextBox("tckimlikno", null, new { @class = "form-control", @placeholder = "Tc Kimlik No Giriniz" })
            @Html.ValidationMessage("tckimlikno")
        </div>
    </div>
    <input type="submit" value="göster" class="btn btn-primary" />

}
<br />
@if (Model != null)
{
    <div class="form-group">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th>Ad:</th>
                        <td>@ViewData["ad"]</td>
                    </tr>
                    <tr>
                        <th>Soyad:</th>
                        <td>@ViewData["soyad"]</td>

                    </tr>

                    <tr>
                        <th>Bakiye:</th>
                        <td>@ViewData["bakiye"] TL</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-12">
            <table id="tablo1" class="table table-hover">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>İşlem Tarihi</th>
                        <th>İşlem Mesajı</th>
                        <th>İşlem Adı</th>
                        <th>Kart Tipi</th>
                        <th>Ücret</th>
                        <th>Mesaj</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>@a.log_id</td>
                            <td>@a.kayit_tarihi</td>
                            <td>@a.islem_mesaji</td>
                            <td>@a.islem_adi</td>
                            <td>@a.kart_tipi</td>
                            <td>@a.ucret TL</td>
                            <td>@a.mesaj</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>


<script>
    $('#tablo1').dataTable({});
</script>