@using Yemekhane_Gecis_Sistemi.Models
@model List<kart_bilgileri>


@using (Html.BeginForm("ResimYukle", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table class="table table-hover">
        <caption><b>@ViewBag.AdSoyad</b></caption>
        <thead>
            <tr>
                <th>Resim</th>
                <th>Kart Tipi</th>
                <th>Kart No</th>
                <th>Durum</th>
                <th>Son Geçerlilik Tarihi</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @{
                int satir_sayisi = Model.Count + 20;
            }
            <tr>
            <td rowspan="@satir_sayisi" width="150"><img src="~/images/@ViewBag.resim" width="150" /><br /><br />
                
                <input type="file" id="resim_yol" name="resim_yol" /><br />
                <input type="submit" class="btn btn-primary" value="Resim Yükle" id="gonder"/>
                <input type="hidden" id="id" name="id" value="@ViewBag.kullanici_kodu" />
                </td>
                
            </tr>
            
            
            @foreach (var a in Model)
            {

                <tr>
 
                    <td>@a.kart_tipleri.kart_tipi</td>
                    <td>@a.kart_no</td>
                    <td>@a.kart_durumlari.durum_adi</td>
                    <td>@a.son_gecerlilik_tarihi</td>
                    <td><a href="#" data-toggle="modal" data-target="#m_modal" onclick="OrtakDuzenle(@a.kullanici_id)">İptal Et <i class="la la-gear"></i></a></td>

                </tr>


            }           
        </tbody>
        
    </table>

    <script>
        $('#gonder').click(function () {
            alert('Fotoğraf güncellendi!');
        });
    </script>
                }


    <script type="text/javascript">
        function OrtakDuzenle(ortakId) {

            var url = '/Home/KartDetaylari/' + ortakId;

            $(".modal-body").load(url);
        }
    </script>
