@using Yemekhane_Gecis_Sistemi.Models
@model List<kart_bilgileri>
@{
    ViewBag.Title = "Kullanici Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>

            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>
            <th>Tc Kimlik No</th>
            <th>Kart Tipi</th>
            <th>Kart No</th>
            <th>Bakiye</th>
            <th>Güncelle</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var a in Model)
        {
        <tr>
            <td>@a.kullanici_id</td>
            <td>@a.kullanicilar.ad</td>
            <td>@a.kullanicilar.soyad</td>
            <td>@a.kullanicilar.email</td>
            <td>@a.kullanicilar.tc</td>
            <td>@a.kart_tipleri.kart_tipi</td>
            <td>@a.kart_no</td>
            <td>@a.bakiye</td>
            <td><a href="/Home/KullaniciGetir/@a.kullanici_id" class="btn btn-success">Güncelle</a> </td>
        </tr>


        }
    </tbody>
</table>
