@*@model Yemekhane_Gecis_Sistemi.Models.DB*@
@model Yemekhane_Gecis_Sistemi.ViewModels.KartKullanicilari
@{
    ViewBag.Title = "Kullanıcı Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@foreach(var a in ViewBag.islem_tipleri)
    {

        <h2>@a.islem_adi</h2>
    }*@


@using (Html.BeginForm("KullaniciEkle", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @if (ViewBag.KullaniciMesaji  != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.KullaniciMesaji 
            </div>
        }
    </div>
    <div class="form-group">
        <label for="predefined" class="col-sm-1 control-label">Kart No</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.KartNo, new { @class = "form-control", @placeholder = "Kart No Giriniz" })
            @Html.ValidationMessageFor(x => x.KartNo)
        </div>
        <div>
            <a href="/Home/KullaniciEkle" class="btn btn-warning">Kart No Çek</a>
            @*<input type="button" value="Kart No Çek" onclick="location.href='@Url.Action("KullaniciEkle", "Home")'" class="btn btn-warning" />*@
        </div>
    </div>
    <div class="form-group">
       
        <label for="default" class="col-sm-1 control-label">TC Kimlik No</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.TcKimlikNo, new { @class = "form-control", @placeholder = "Tc Kimlik No Giriniz", @type = "number" })
            @Html.ValidationMessageFor(x => x.TcKimlikNo)
        </div>
    </div>

    <div class="form-group">
        <label for="text" class="col-sm-1 control-label">Ad</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", @placeholder = "Ad Giriniz" })
            @Html.ValidationMessageFor(x => x.Ad)
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="col-sm-1 control-label">Soyad</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", @placeholder = "Soyad Giriniz" })
            @Html.ValidationMessageFor(x => x.Soyad)
        </div>
    </div>

    <div class="form-group">
        <label for="predefined" class="col-sm-1 control-label">Birim Seçiniz</label>
        <div class="col-sm-5">
            @Html.DropDownListFor(x => x.BirimId, Model.BirimListesi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.BirimId)
        </div>
    </div>
    <div class="form-group">
        <label for="predefined" class="col-sm-1 control-label">Unvan Seçiniz</label>
        <div class="col-sm-5">
            @Html.DropDownListFor(x => x.UnvanId, Model.UnvanListesi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UnvanId)
        </div>
    </div>
    <div class="form-group">
        <label for="predefined" class="col-sm-1 control-label">E-Mail</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.EMail, new { @class = "form-control", @placeholder = "Email Giriniz" })
            @Html.ValidationMessageFor(x => x.EMail)
        </div>
    </div>
    <div class="form-group">
        <label for="predefined" class="col-sm-1 control-label">Kart Tipi Seçiniz</label>
        <div class="col-sm-5">
            @Html.DropDownListFor(x => x.KartTipiId, Model.KartListesi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.KartTipiId)

        </div>
    </div>



    <div class="form-group">
        <label for="predefined" class="col-sm-1 control-label">Son Geçerlilik Tarihi</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.SonGecerlilikTarihi, new { @class = "form-control", @placeholder = "Tarih Giriniz",@type="date" })
            @Html.ValidationMessageFor(x => x.SonGecerlilikTarihi)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">
            <button type="submit" class="btn btn-primary">Kaydet</button>

        </div>
       
    </div>
}




