@using Yemekhane_Gecis_Sistemi.Models
@model List<view_sistem_log>
@{
    ViewBag.Title = "Sistem Logları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table id="tablo1" class="table table-hover">
    <thead>
        <tr>
        <th>Id</th>
        <th>İşlemi Yapan</th>
        <th>İslem Adı</th>
        <th>İslem Tarihi</th>
        <th>Mesaj</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
            <td>@a.id</td>
            <td>@a.ad @a.soyad</td>
            <td>@a.islem_adi</td>
            <td>@a.islem_tarihi</td>
            <td>@a.mesaj</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("SistemLog",new {sayfa}))*@




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>  


<script>
    $('#tablo1').dataTable({});
</script>