@using Yemekhane_Gecis_Sistemi.Models
@model unvanlar
@{
    ViewBag.Title = "Unvan Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("UnvanGuncelle", "Home", FormMethod.Post))
{

    <div class="form-group">
        @if (ViewData["mesaj"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["mesaj"]
                <a href="/Home/UnvanListesi">Geri Dön</a>
            </div>
        }
        <div>
            @Html.LabelFor(x => x.unvan_id)
            @Html.TextBoxFor(x => x.unvan_id, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.unvan_adi)
            @Html.TextBoxFor(x => x.unvan_adi, new { @class = "form-control" })
        </div>
    </div>

    <input type="submit" value="Birim Güncelle" class="btn btn-success" />

}